absl-py                   
astunparse                 
blinker                    
certifi                    
charset-normalizer        
click
datasets                      
filelock                   
Flask                      
flatbuffers                
fsspec                     
gast                       
google-pasta               
grpcio                     
h5py                       
huggingface-hub           
idna                       
itsdangerous               
Jinja2                     
joblib                     
keras                      
libclang                   
Markdown                   
markdown-it-py            
MarkupSafe                 
mdurl                      
ml-dtypes                  
mpmath                     
namex                      
networkx                   
nltk                       
numpy                      
nvidia-cublas-cu11        
nvidia-cuda-cupti-cu11    
nvidia-cuda-nvrtc-cu11    
nvidia-cuda-runtime-cu11  
nvidia-cudnn-cu11         
nvidia-cufft-cu11         
nvidia-curand-cu11        
nvidia-cusolver-cu11      
nvidia-cusparse-cu11      
nvidia-nccl-cu11          
nvidia-nvtx-cu11          
opt_einsum                 
optree                     
packaging                  
pillow                     
pip                        
protobuf                   
Pygments                   
PyYAML                     
regex                      
requests                   
rich                       
safetensors                
setuptools                 
six                        
sympy                      
tensorboard                
tensorboard-data-server   
termcolor                  
tokenizers                 
torch                      
torchaudio                 
torchvision                
tqdm                       
transformers               
triton                     
typing_extensions         
urllib3                    
Werkzeug                   
wheel                      
wrapt                      
